
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: 100%;
    }
    
}
